.display-ib{
    display:inline-block;
}
.display-b{
    display:block;
}
.display-f{
    display:flex;
}
.display-n{
    display:none;
}
.ta-center{
    text-align:center;
}
.ta-left{
    text-align:left;
}
.ta-right{
    text-align:right;
}
.ai-center{
    align-items: center;
}
.spacebetween{
    justify-content: space-between;
}
.spaceevenly{
    justify-content: space-evenly;
}
.flex-start{
    justify-content: flex-start;
}
.flex-end{
    justify-content: flex-end;
}
.f-left{
    float:left;
}
.f-right{
    float:right;
}
.clear-fix::after{
  content: "";
  clear: both;
  display: table;
}
.underline{
    text-decoration: underline;
    color:$dark;
}
.green{
   background-color: $green;
} 
.bright-blue{
    background-color: $brightblue;
}
.aqua-blue{
    background-color: $aqua-blue;
}
.violet{
    background-color: $violet;
}
.purple{
    background-color: $purple;
}
.pink{
    background-color:$pink;
}
.white{
    background-color:$footerbg;
}
.dark{
    color:$dark;
}
.blue-grey{
    color:$navcolor;
}
.box-prop{
    height:4px;
    border-radius:2.5px;
}
.pos-rel{
    position:relative;
}
.greyborder{
    @include border(1px,solid,$lightgrey);
}
.check-box{
    cursor:pointer;
    @include size(28px);
    .checkmark{
        position:relative;
        @include size(28px);
        border-radius:3px;
    } 
}
.focus{
    @include border(1px,solid,$brightblue) ;
} 
.check {
    position:absolute;
    top:20%;
    left:35%;
    display: inline-block;
    transform: rotate(50deg);
    height: 14px;
    width: 7px;
}
.blue-check{
    border-bottom: 3px solid $lightblue;
    border-right: 3px solid $lightblue;
}
.white-check{
    width:5px;
    height:10px;
    top:15%;
    left:35%;
    border-bottom: 2px solid $white;
    border-right: 2px solid $white;
}
.green-check{
    position: relative;
    top:0;
    left:0;
    height:20px;
    width:12px;
    margin-bottom:-8px;
    border-bottom: 3px solid $white;
    border-right: 3px solid $white;
}
@each $space in $spaceamounts{
    .width-#{$space}{
        width:#{$space}px;
    }
}
%arrow-base{
    display:inline-block;
    position:absolute;
    width:10px;
    height:10px;
}
.arrow-left{
    @extend %arrow-base;
    top:40%;
    left:40%;
    border-right:2px solid black;
    border-bottom:2px solid black;
    transform:rotate(-45deg);
  }
  .arrow-right{
    @extend %arrow-base;
    top:40%;
    left:0%;
    border-left:2px solid black;
    border-bottom:2px solid black;
    transform:rotate(45deg); 
  }
  .line{
    display:inline-block;
    width:16px;
    border-bottom:2px solid black;
  }
%pointer{
    cursor:pointer;
}
