$primary-font:'Open Sans';
$secondary-font:Helvetica, sans-serif;
$navcolor:#919eab;
$dark:#212b36;
$blur:#adadad;
$white:#ffffff;
$grey:#454f5b;
$lightblue:#4ad5f6;
$brightblue:#23c0f5;
$palegrey:#f9fafb;
$darkgrey:#6a7c92;
$blurgrey:#47495a;
$lightgrey:#c4cdd5;
$footerbg:#f4f6f8;
$copyright:#8f9ea6;
$greydark:#637381;
$aqua-marine:#47c1bf;
$paleblue:#ecedf0;
$aqua-blue:#007ace;
$hr:#dfe3e8;
$green:#00cfc0;
$violet:#5c6ac4;
$purple:#9c6ade;
$pink:#de6a93;
$transparent:#f3f3f3;
$paleblack:#cbcbcb;