$primary-font:'Open Sans';
$secondary-font:Helvetica, sans-serif;
$navcolor:#919eab;
$dark:#212b36;
$blur:#adadad;
$white:#ffffff;
$grey:#454f5b;
$lightblue:#4ad5f6;
$palegrey:#f9fafb;
$lightgrey:#c4cdd5;
$footerbg:#f4f6f8;
$copyright:#8f9ea6;