footer{
    padding: 48px 150px 85px 150px;
    background-color: $footerbg;
    nav{
        dt{
            color:$navcolor;
            margin-bottom:15px;
            span{
                color:$lightblue;
            }
        }
        dd{
            color:$grey;
        }
    }
    .contacts{
                a{
                   color:$grey;
                   margin-top:12px;
                }
        }
        .contact-logo{
            width:140px;
            margin-top:15px;
        }
    }
    .description{
        dd{
        color:$navcolor;
        }
    }
    .copyright{
        padding-top:70px;
        color:$copyright;
    }
.fa{
   font-size:14px;
   margin-right:10px;
}
