header{
padding:10px 20px;
box-shadow: 0 1px 0 0 $lightblue;
nav{
.logopannel,.details{
    ul{
        li{
            margin-right:40px;
            color:$navcolor; 
         }
}
}
.profile-options{
    .profile{
        ul{
            li{
                margin-right:24px;
            }
            .name{
                li{
                    margin-right:12px;
                }
            }
        }
    }
}
}
}