button{
    border:none;
    outline:none;
    cursor:pointer;
}
.primary-button{
    width: 180px;
    padding: 15px 0 ;
    color:$white;
    border-radius: 2px;
    border:none;
    font-family: inherit;
}
.next-btn{
    background-color: $lightblue;
}
.back-btn{
    background-color: $lightgrey;
}
.secondary-button{
    width:315px;
    padding:15px 0;
    @include border(1px,solid,$lightgrey);
}
.bg-grey{
    background-color: $greydark;
    color:$white;
}
.bg-white{
    background-color: $white;
    color: $greydark;
    border-left:none;
}
.dropdown-btn{
    padding: 10px 10px 10px 15px;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(102, 113, 123, 0.25);
    @include border(1px,solid,$lightgrey);
    background-color: $white;
}
.btn-width{
    width:220px;
}
.filter-btn{
    padding: 10px 15px ;
    border-radius: 2px;
    background-color: $aqua-marine;
    color:$white;
}
.rownext-btn{
    width:90px;
    color:$white;
    background-color: $greydark;
    padding: 10px 28px;
}
.pagebtn{
    padding: 10px 60px 15px;
    background-color: $palegrey;
    @include border(1px,solid,$lightgrey);
}
.small-btn{
    margin-right:5px;
    padding:5px 15px;
    border-radius: 20px;
    color:$white;
}
.xsmall-btn{
    padding:5px 10px;
    border-radius:12.5px;
    color:$grey;
}
.arrow-btn{
    @include size(0);
    border-radius: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin:0;
  }
.down{
    border-top:5px solid $greydark;
}
.up{
    border-bottom:5px solid $greydark;
    margin-bottom:5px;
}
.dropdown-sign{
    margin-right:12px;
    margin-bottom:-3px;
}
