*,
*:before,
*:after {
  box-sizing: border-box;
}
.progress-box{
  position:relative;
  width:160px;
  .filled,.track{
      stroke-width: 7px;
      fill: none;
    }
  .track {
      stroke: $stroke;
    }
  .filled {
      stroke: $brightblue;
      stroke-dashoffset: 20;
      stroke-dasharray:150;
      stroke-linecap:"round";
    }
  .content{
      position:absolute;
      margin:0;
      color:$dark;
      top:25%;
      left:20%;
      font-size:36px;
    }
}
