*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: $primary-font;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color:inherit;
}
main{
    background-color: $palegrey;
    overflow: hidden;
}
input{
    outline:none;
    border:none;
    background-color: inherit;
}
::placeholder{
    color:$blur;
}
input:focus{
    background-color:$white;
}
 section{
     margin:auto;
} 
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}
