.font{
    &-xsmall{
        font-size:12px;
    }
    &-small{
        font-size:14px;
    }
    &-normal{
        font-size:15px;
    }
    &-medium{
        font-size:18px;
    }
    &-large{
        font-size:36px;
    }
}

.fw{
    &-bold{
        font-weight:600;
    }
    &-normal{
        font-weight:300;
    }
}

.lh{
    &-small{
        line-height: 1.50;
    }
    &-normal{
        line-height: 1.75;
    }
    &-medium{
        line-height:2;
    }
}
h1,h2,h4{
    color:$dark;
}
h4{
    font-size:24px;
}