.documents{
    padding-top:80px;
    padding-bottom:80px;
    .tabs{
        margin-top:50px;
    }
    .upload-box{
        width:630px;
        margin:auto;
        margin-top:30px;
        @include border(1px,solid,$lightgrey);
        box-shadow: 0 6px 8px 0 rgba(164, 164, 164, 0.21);
        border-radius: 3px;
        background-color: $white;
        .heading{
            margin:20px 0;
            color:$dark;
        }
        .drag-drop{ 
            padding:20px 15px;
            border-top:1px solid $lightgrey;
            input{
                display:none;
            }
            .blue{
                color:$lightblue;
                text-decoration: underline;
                @extend %pointer;
            }
            .files{
                padding:30px 10px 10px;
                background-color:$palegrey ;
                @include border(2px,dashed,$lightgrey);
                p{
                    margin-top:10px;
                }
                .criteria{
                    margin:50px 0 5px 0;
                    color:$navcolor;
                }
            }
        }
        .doc-rules{
            padding:10px 10px 0 10px;
            .lists{
                padding:15px 0 0 15px;
                margin-bottom:70px;
                color:$grey;
            ul{
                list-style-type: disc;
                padding-left:20px;
            }
            li{
                text-align:unset;
                ul{
                    padding-left:25px;
                    li{
                        padding-top:5px;
                    }
                }
            }
        }
        }

    }
}

    .buttons{
        width:630px;
        margin:auto;
        margin-top:50px;
    }  

.file-list {
    width: 100%;
    margin-top:20px;
    padding:0 20px ;
    border-left:0;
    border-right:0;
    background-color:$docbg;
    color:$greydark;
    div:last-child{
        border-bottom:0;
    } 
}
form{
    padding-bottom:20px;
}
.files-section{
    border-bottom:2px solid $docborder;
        img{
            margin-right:5px;
            @extend %pointer;
        }
}
.file {
    width: 75%;
    padding:10px 0;
    background-color:$docbg;
    font-size:11px;
  p{
      margin:0;
  }
}
.file-name {
  font-size:13px;
}
.file-extension{
  width:50px;
  text-transform: uppercase;
}
::-webkit-scrollbar {
    width:8px;
  }
::-webkit-scrollbar-track {
    border-radius: 4px;
    border: solid 1px #e7e7e7;
    background-image: linear-gradient(to right, #f8f8f8 0%, #fafafa 51%, #fafafa 100%);
}
::-webkit-scrollbar-thumb {
    background: $navcolor;
    border-radius: 4px;
  }

  




