.register{
    width:500px;
    padding-top:80px;  
    padding-bottom:280px;  
    form{
        margin-top:50px;
        margin-bottom:20px;
        input{
            width:230px;
            padding:13px 0 13px 25px;
            border-radius:3px;
            @include border(1px,solid,$lightgrey);
            font-family: inherit;
        }
    }
}